* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  background-image: url(../img/fondo6.jpg);
}

#contenedor {
  min-width: 360px;
  max-width: 960px;
}

.banner {
  background-image: url(../img/banner3.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  margin: 20px auto 50px auto;
  width: 100%;
  height: 300px;
  display: none;
}

.tituloSection {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
}

.tituloSection h3 {
  width: 100%;
  height: 60px;
  border-top: 1px solid #0066d2;
  border-bottom: 1px solid #0066d2;
  /* margin-top: 20px; */
  padding-top: 10px;
  padding-bottom: 10px;
  /* background-color: rgba(255, 255, 255, 0.5); */
  background-color: rgba(0, 0, 0, 0.15);
  font-family: 'Lora', serif;
  font-size: 30px;
  color: #0066d2;
}

.viñeta {
  width: 40%;
  margin: 0 auto;
  border-top: 2px solid #0066d2;
}

.separador {
  height: 50px;
}

.prodsSection {
  padding-top: 20px;
  padding-bottom: 20px;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.fondo-con-sombra {
  background-color: rgba(0, 0, 0, 0.2);
  padding: 6px;
  margin-bottom: 15px;
}

.prodsSection article {
  width: 90%;
  margin-bottom: 30px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-between;
}

.prodsSection article img {
  width: 100%;
}

.prodsSection article h4 {
  font-size: 22px;
  margin: 4px 0 8px 0;
  width: 100%;
}

.prodsSection article div {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: baseline;
}

.prodsSection article div span {
  font-family: Merriweather;
  font-size: 20px;
}

.prodsSection article div a {
  text-decoration: none;
  padding: 6px 15px;
  background-color: #0060ff;
  color: white;
  border-radius: 6px;
  font-family: Merriweather;
  text-transform: uppercase;
}

.prodsSection article div a:hover {
  background-color: #0090ff;
}

.libro1 {
  width: 90%;
  margin: 5%;
}

.libro2 {
  width: 90%;
  margin: 5%;
}

.libro3 {
  width: 90%;
  margin: 5%;
}

#encabezado h1 {
  /* background-color: white; */
  font-family: 'Lobster', cursive;
  font-size: 72px;
  text-align: center;
  color: #0066d2;
  margin-top: 20px;
}

#encabezado nav ul {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  height: 60px;
  border-top: 1px solid #0066d2;
  border-bottom: 1px solid #0066d2;
  margin-top: 40px;
  background-color: rgba(0, 0, 0, 0.15);
}

#encabezado nav ul li {
  display: flex;
  justify-content: center;
  align-items: center;
  /* width: 30%; */
  height: 60px;
  cursor: pointer;
}

#encabezado nav ul li div {
  font-family: 'Lora', serif;
  font-size: 16px;
  color: #0066d2;
  transition: 0.4s;
}

#encabezado nav ul li:hover div {
  font-size: 22px;
}

#encabezado nav ul li div i {
  margin-right: 5px;
}

#encabezado nav ul li div a {
  color: #0066d2;
  font-weight: bold;
  text-decoration: none;
}

#footer nav ul {
  display: flex;
  justify-content: space-around;
  align-items: center;
  list-style-type: none;
  text-decoration: none;
  border-top: 1px solid #676745;
  width: 100%;
  color: #0066d2;
  padding-top: 10px;
}

#footer nav ul li {
  text-decoration: none;
  font-family: 'Lora', serif;
  font-size: 18px;
  color: #0066d2;
}

#footer nav ul li a {
  text-decoration: none;
  color: #0066d2;
}

#footer nav ul li .links {
  font-size: 30px;
  color: #0066d2;
}

#footer nav p {
  font-family: 'Lora', serif;
  font-size: 14px;
  color: #676745;
  color: #606060;
  padding-top: 10px;
  margin-bottom: 20px;
  text-align: center;
}

.login {
  width: 100%;
}

.login fieldset {
  text-decoration: none;
  font-family: 'Lora', serif;
  font-size: 30px;
  width: 100%;
  color: #676745;
  margin: 20px auto;
  border-left: none;
  border-right: none;
}

.login fieldset p input {
  margin: 20px auto;
  width: 100%;
  text-align: center;
  font-family: 'Lora', serif;
  font-size: 30px;
  color: #676745;
}

.registration fieldset {
  text-align: center;
  text-decoration: none;
  font-family: 'Lora', serif;
  font-size: 40px;
  color: #676745;
  margin: 20px auto;
  border-left: none;
  border-right: none;
}

.registration fieldset p input {
  margin: 20px auto;
  text-align: center;
  font-family: 'Lora', serif;
  font-size: 40px;
  color: #676745;
}

#boton {
  padding: 10px;
  border-radius: 5%;
}


@media (min-width: 480px) /* and (max-width: 768px) */ {
  .prodsSection article {
    width: 45%;
  }
}

@media (min-width: 768px) {

  #contenedor {
    width: 95%;
    margin: 0 auto;
  }

  .separador {
    display: none;
  }

  .banner {
    display: block;
  }

  /*
  .prodsSection {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    padding-top: 20px;
    padding-bottom: 20px;
    width: 100%;
    height: 525px;
  }
  */

  .prodsSection article {
    width: 30%;
  }

  .libro1 {
    width: 30%;
    margin: auto 1%;
  }

  .libro2 {
    width: 30%;
    margin: auto 1%;
  }

  .libro3 {
    width: 30%;
    margin: auto 1%;

  }

}
